/node_modules/
/**/node_modules/
/**/node_modules/*
/_tools/*
/**/.DS_Store
.DS_Store
/**/DeployDistribution/
/**/LocalDistribution/
/**/.nsdeploy/
/Contents/
/Core/.nsdeploy
/Theme/.nsdeploy
/**/manifest.json
/Extension/.nsdeploy
/Extension/tmp/*
/Theme/tmp/*
*.nsdeploy
node_modules/
gulp/
LocalDistribution/
DeployDistribution/
.nsdeploy
.vscode
