// Edited for Horizon Theme

.facets-browse-category-heading-list-header
{
	display: table;
	padding-bottom: $sc-padding-lv4;
}

.facets-browse-category-heading-main-description
{
	width: auto;
	margin: $sc-margin-lv2;

	@media (min-width: $screen-md-min)
	{
		margin-left: $sc-margin-lv4;
    }

    & h1 {
		// hide but not from screen readers
		font-size: 0;
		width: 1px;
		height: 1px;
	}

}

.facets-browse-category-heading-main-description h3
{
	text-transform: none;
	font-weight: normal;
}

.facets-browse-category-heading-main-image
{
	display: none;

	@media (min-width: $screen-md-min)
	{
        display: inherit;
        position: absolute;
		top: 0;
		//left: 0;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 210px; // same as .breadcrumb-container min-height
		background-size: 100%;
		max-width: 1600px;
	}
}
